#root {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

body {
  background-color: #edecea;
  padding-bottom: 70px;
}

.inknut-text {
    font-family: "Inknut Antiqua", serif;
    font-weight: 300;
    font-style: normal;
}

.room-link {
  text-decoration: none;
  color: grey;
}

/* Apply box-sizing to all elements */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Prevent horizontal overflow */
html, body {
  overflow-x: hidden;
}
