#root {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

body {
  background-color: #edecea;
  padding-bottom: 70px;
}

.inknut-text {
    font-family: "Inknut Antiqua", serif;
    font-weight: 300;
    font-style: normal;
}


