.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.375);
  backdrop-filter: blur(2px);
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  color: #fff;
  padding: 0 16px; 
}



/* Hero.css */
.MuiTextField-root .MuiInputBase-root {
  background-color: rgba(0, 0, 0, 0.448) !important; /* Background color */
}

.MuiTextField-root .MuiInputBase-input {
  color: white !important; /* Text color */
}

.MuiTextField-root .MuiOutlinedInput-notchedOutline {
  border-color: white !important; /* Border color */
}

.MuiTextField-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: white !important; /* Border color on focus */
}

.MuiInputLabel-root {
  color: white !important; /* Label color */
}

