.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.375);
  backdrop-filter: blur(2px);
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  color: #fff;
  padding: 0 16px; 
}




#hero .MuiTextField-root .MuiInputBase-root {
  background-color: rgba(0, 0, 0, 0.448) !important; 
}

#hero .MuiTextField-root .MuiInputBase-input {
  color: white !important; 
}

#hero .MuiTextField-root .MuiOutlinedInput-notchedOutline {
  border-color: white !important;
}

#hero .MuiTextField-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: white !important; 
}

#hero .MuiInputLabel-root {
  color: white !important; 
}

